APP_NAME=usuario-service
APP_ENV=development
APP_PORT=8001
GRPC_PORT=5001
STORAGE_BACKEND=inmemory
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
DB_HOST=localhost
DB_PORT=5432
DB_NAME=quetzal_usuario
DB_USER=postgres
DB_PASSWORD=postgres
