[defaults]
inventory           = inventory.ini
remote_user         = ubuntu
private_key_file    = ~/.ssh/quetzaltv_deploy
host_key_checking   = False
stdout_callback     = yaml
timeout             = 60

[privilege_escalation]
become       = True
become_method = sudo
